<!DOCTYPE html>
<html lang="{{ site.lang | default: "en" }}">
  <head>
    <meta charset="UTF-8">

  {% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content" class="skip-link">Skip to the content.</a>
    <header class="page-header" role="banner">
      <nav class="page-nav" aria-label="Main site navigation">
        <div class="nav-container">
          <a href="/" class="nav-logo" aria-label="HistoryOut Homepage">
            <img src="assets/images/logo.svg" alt="HistoryOut - Chrome History Export Tool" class="header-logo">
          </a>
          <ul class="nav-links" role="list">
            <li><a href="#how-historyout-works" aria-label="Learn how HistoryOut works">How It Works</a></li>
            <li><a href="#why-use-historyout" aria-label="Discover why to use HistoryOut">Why HistoryOut</a></li>
            <li><a href="#overview" aria-label="Detailed overview of HistoryOut">Overview</a></li>
          </ul>
        </div>
      </nav>

      <h1 class="project-name sr-only">HistoryOut - Chrome Extension to export Chrome History in Excel-readable CSV, JSON or HTML formats.</h1>
      <h2 class="project-tagline">Export Chrome History in Excel-readable CSV, JSON or HTML formats. For Free.</h2>
      
      <nav aria-label="Chrome store navigation">
        {% include add-to-chrome-button.html %}
      </nav>
    </header>

    {{ content }}
    
    <footer class="page-header" role="contentinfo">
      {% include add-to-chrome-button.html %}
    </footer>
  </body>
</html>
