<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

  {% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>
    <header class="page-header" role="banner">
      <nav class="page-nav" aria-label="Page navigation">
        <div class="nav-container">
          <a href="/" class="nav-logo" target="_blank" rel="noopener">
            <img src="assets/images/logo.svg" alt="HistoryOut - Chrome History Export Tool" class="header-logo">
          </a>
          <ul class="nav-links">
            <li><a href="#how-historyout-works">How It Works</a></li>
            <li><a href="#why-use-historyout">Why HistoryOut</a></li>
            <li><a href="#key-features">Key Features</a></li>
          </ul>
        </div>
      </nav>

      <h1 class="project-name sr-only">Chrome Extension to export Chrome History in Excel-readable CSV, JSON or HTML formats. Use custom date ranges and customize the output fields.</h1>
      <h2 class="project-tagline">Export Chrome History in Excel-readable CSV, JSON or HTML formats. For Free.</h2>
      
      <nav aria-label="Primary navigation">
        <a href="{{ site.data.urls.chrome_store }}" class="btn primary-btn" target="_blank" rel="noopener">
          Add Chrome Extension
        </a>
      </nav>
    </header>

    <main id="content" class="main-content" role="main">
      <h1 class="sr-only">
        About HistoryOut - Export Chrome History Extension
      </h1>

      {{ content }}
    </main>

    <footer class="page-header">
      <a href="{{ site.data.urls.chrome_store }}" class="btn primary-btn" target="_blank" rel="noopener">
        Add Chrome Extension
      </a>
    </footer>
  </body>
</html>
