<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

  {% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">

      <a href="{{ site.data.urls.chrome_store }}" target="_blank" rel="noopener">
        <img src="assets/images/logo.svg" alt="HistoryOut logo" class="header-logo">
      </a>

      <h1 class="project-name sr-only">Export Your Chrome History with HistoryOut</h1>
      <h2 class="project-tagline">Export and analyze your Chrome history with custom date ranges. Download in CSV, JSON or HTML formats.</h2>
      
      <nav aria-label="Primary navigation">
        <a href="{{ site.data.urls.chrome_store }}" class="btn primary-btn" target="_blank" rel="noopener">
          Add to Chrome
        <a href="{{ site.data.urls.chrome_store_support }}" class="btn" target="_blank" rel="noopener">
          Get Support
        <a href="{{ site.data.urls.chrome_store_review }}" class="btn" target="_blank" rel="noopener">
          Write a Review
        </a>
      </nav>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}
    </main>

    <footer class="page-header">
      <a href="{{ site.data.urls.chrome_store }}" class="btn primary-btn" target="_blank" rel="noopener">
        Add to Chrome
      <a href="{{ site.data.urls.chrome_store_support }}" class="btn" target="_blank" rel="noopener">
        Get Support
      <a href="{{ site.data.urls.chrome_store_review }}" class="btn" target="_blank" rel="noopener">
        Write a Review
      </a>
    </footer>
  </body>
</html>
